<%= link_to("<< Back to list", {:action => 'list'}, :class => "back-list") %>

<div class="subject delete">
  <h2>Delete Subject</h2>
  <%= form_for(:page, :url => {:action => 'destroy', :id => @page.id}) do |f| -%>
  <p>Are you sure want to permanently delete this subject?</p>
  <p class="reference-name"><%= @page.name %></p>
  <div class="form-buttons">
      <%= submit_tag("Delete Subject") %>
  </div>
  <% end %>
</div>